---
layout: sidebar
---

<!--<div class="col col-lg-3">
  <div class="card border-dark mb-3">
    <div class="card-body">
      <h5 class="card-title">Featured Links</h5>
    </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item">Cras justo odio</li>
      <li class="list-group-item">Dapibus ac facilisis in</li>
      <li class="list-group-item">Vestibulum at eros</li>
    </ul>
  </div>
  <div class="card border-primary mb-3">
    <div class="card-header bg-primary text-white">Header</div>
    <div class="card-body">
      <h5 class="card-title">Primary card title</h5>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    </div>
  </div>
</div>-->
<div class="col col-lg-9 mb-5">
{% for post in paginator.posts %}
<div class="card mb-3">
  {% if post.cover %}
  <img class="card-img-top" src="{{ post.cover }}" alt="Card image cap">
  {% endif %}
  <div class="card-body">
    <h2><a href="{{ post.url }}" class="text-reset">{{ post.title }}</a></h2>
    {% assign author = site.authors | where: 'title', post.author | first %}
    <div class="row justify-content-between mb-2 text-muted">
      <div class="col">
        <h6 class="card-subtitle">Author: <a href="{{ author.url }}">{{ author.title }}</a> <i class="fal fa-minus fa-fw"></i> {{ post.date | date: "%B %-d" }}</h6>
      </div>
    </div>
    <div class="card-text">
      {{ post.excerpt | strip_html | truncatewords: 56, "...</p>" }} <a href="{{ post.url }}">Read more...</a>
    </div>
  </div>
  <ul class="list-group list-group-flush">
  <li class="list-group-item">{% for tag in post.tags limit:5 %}<span class="badge badge-pill badge-dark"><i class="fas fa-hashtag"></i> <a class="text-light" href="/{{ site.tag_page_dir }}/{{ tag | slugify: 'pretty' }}.html">{{ tag }}</a></span> {% endfor %}</li>
  </ul>
</div>
{% endfor %}
<!-- Pagination links -->
<nav aria-label="Page navigation example">
  <ul class="pagination">
    {% if paginator.previous_page %}
    <li class="page-item"><a class="page-link" href="{{ paginator.previous_page_path }}">Previous</a></li>
    {% else %}
    <li class="page-item disabled">
      <a class="page-link" href="#" tabindex="-1" aria-disabled="true">Previous</a>
    </li>
    {% endif %}
    {% for page in (1..paginator.total_pages) %}
    {% if page == paginator.page %}
    <li class="page-item active" aria-current="page">
      <a class="page-link" href="#">{{ page }} <span class="sr-only">(current)</span></a>
    </li>
    {% else %}
    <li class="page-item"><a class="page-link" href="{% if page == 1 %}{% else %}/page{{ page }}{% endif %}/">{{ page }}</a></li>
    {% endif %}
    {% endfor %}
    {% if paginator.next_page %}
    <li class="page-item"><a class="page-link" href="{{ paginator.next_page_path }}">Next</a></li>
    {% else %}
    <li class="page-item disabled">
      <a class="page-link" href="#" tabindex="-1" aria-disabled="true">Next</a>
    </li>
    {% endif %}
  </ul>
</nav>
</div>
