<!DOCTYPE html>
<html lang="en-US">
{% include head.html %}
<body>
    <header>
        {% include nav.html %}
    </header>
    <main>
        {{ content }}
    </main>
    <footer class="footer">
      <div class="container">
        <div class="row justify-content-between">
          <div class="col-auto">
            <span class="text-muted">
              <a href="https://github.com/privacytoolsIO/blog.privacytools.io" class="mr-2"><i class="fab fa-github fa-fw" title="GitHub"></i></a>
              <a href="https://creativecommons.org/licenses/by/4.0/" class="mr-2"><i class="fab fa-creative-commons" title="Creative Commons"></i> <i class="fab fa-creative-commons-by" title="Attribution"></i><span class="sr-only">Article Content License: Creative Commons Attribution (CC-BY 4.0)</span></a>
              <a href="https://medium.com/privacytools" rel="me"><i class="fab fa-medium fa-fw" title="Mastodon"></i></a>
              <a href="https://social.privacytools.io/@privacytools" rel="me"><i class="fab fa-mastodon fa-fw" title="Mastodon"></i></a>
              <a href="https://twitter.com/privacytoolsIO" rel="me"><i class="fab fa-twitter fa-fw" title="Twitter"></i></a>
            </span>
          </div>
          <div class="col-auto text-right d-none d-md-block">
            <span class="text-muted"><small>Tor: <a class="text-reset" href="http://blog.privacy2zbidut4m4jyj3ksdqidzkw3uoip2vhvhbvwxbqux5xy5obyd.onion/">blog.privacy2zbidut4m4jyj3ksdqidzkw3uoip2vhvhbvwxbqux5xy5obyd.onion</a></small></span>
          </div>
        </div>
      </div>
    </footer>
    <script type="text/javascript" src="{{ site.baseurl }}/assets/js/bootstrap-native-v4.min.js"></script>
</body>
</html>
