---
layout: sidebar
---
<div class="col-12 col-lg-9">
  <div class="card mb-5">
    {% if page.cover %}
    <img class="card-img-top" src="{{ page.cover }}" alt="Card image cap">
    {% endif %}
    <div class="card-body">
      <h1 class="card-title display-4">{{ page.title }}</h1>
      {% assign author = site.authors | where: 'title', page.author | first %}
      <div class="row justify-content-between mb-5 text-muted">
        <div class="col">
          <h5 class="card-subtitle">Author: <a href="{{ author.url }}">{{ author.title }}</a>  <i class="fal fa-minus fa-fw"></i> {{ page.date | date: "%B %-d" }}</h5>
          {% for position in author.position %}
          {% if position == "Team Member" %}
          <span class="badge badge-primary"><i class="fas fa-crown fa-fw"></i> {{ position }}</span>
          {% elsif position == "Editor" %}
          <span class="badge badge-info"><i class="fas fa-shield-alt fa-fw"></i> {{ position }}</span>
          {% elsif position == "Author" %}
          <span class="badge badge-secondary"><i class="fas fa-shield-check fa-fw"></i> {{ position }}</span>
          {% else %}
          <span class="badge badge-secondary">{{ position }}</span>
          {% endif %}
          {% endfor %}
        </div>
        {% if author.mastodon or author.twitter or author.github %}
        <div class="col text-right">
          <div class="btn-group" role="group" aria-label="Basic example">
            {% if author.mastodon %}
            {% assign mastodon = author.mastodon | split: "@" %}
            <a class="btn btn-outline-dark" href="https://{{ mastodon[2] }}/@{{ mastodon[1] }}"><i class="fab fa-mastodon fa-fw"></i></a>
            {% endif %}
            {% if author.twitter %}<a class="btn btn-outline-dark" href="https://twitter.com/{{ author.twitter | downcase | escape_once | strip | remove: "@" }}"><i class="fab fa-twitter fa-fw"></i></a>{% endif %}
            {% if author.github %}<a class="btn btn-outline-dark" href="https://github.com/{{ author.github | downcase | escape_once | strip | remove: "@" }}"><i class="fab fa-github fa-fw"></i></a>{% endif %}
          </div>
        </div>
        {% endif %}
      </div>
      <div class="card-text">
        {% if page.canonical %}
        <div class="card border-info mb-3">
          <div class="card-body text-info font-italic font-weight-light">
            <i class="fas fa-info-circle fa-fw"></i> This article originally appeared at <a href="{{ page.canonical }}">{{ page.canonical }}</a>. It has been <a href="https://indieweb.org/POSSE">syndicated</a> here with the permission of the original author.
          </div>
        </div>
        {% endif %}
        {{ content }}
      </div>
    </div>
    <ul class="list-group list-group-flush">
    {% if page.editor %}
    {% assign editor = site.authors | where: 'title', page.editor | first %}
      <li class="list-group-item"><i class="fas fa-user-check fa-fw"></i> Article Editor: <a href="{{ author.url }}">{{ editor.title }}</a></li>
    {% endif %}
    <li class="list-group-item">{% for tag in page.tags %}<span class="badge badge-pill badge-dark"><i class="fas fa-hashtag"></i> <a class="text-light" href="/{{ site.tag_page_dir }}/{{ tag | slugify: 'pretty' }}.html">{{ tag }}</a></span> {% endfor %}</li>
    </ul>
  </div>
  <div class="card mb-5">
    <div class="card-body">
      <h2 class="card-title mb-5">Join the Discussion</h2>
      <div id='discourse-comments'></div>
      <script type="text/javascript">
        DiscourseEmbed = { discourseUrl: 'https://forum.privacytools.io/',
                           discourseEmbedUrl: '{% if page.canonical %}{{ page.canonical }}{% else %}{{ site.url }}{{ page.url }}{% endif %}' };

        (function() {
          var d = document.createElement('script'); d.type = 'text/javascript'; d.async = true;
          d.src = DiscourseEmbed.discourseUrl + 'javascripts/embed.js';
          (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(d);
        })();
      </script>
    </div>
  </div>
</div>
