---
layout: default
---

<div class="container {% if page.cover %}mt-3{% else %}mt-5{% endif %}">
  <div class="row">
    {{ content }}
    <div class="col col-lg-3">
      <h3>Discover Posts</h3>
      <div class="card mb-5">
        <ul class="list-group list-group-flush">
        {% capture tags %}
          {% for tag in site.tags %}
            <li class="list-group-item" data-sort="{{ site.posts.size | minus: tag[1].size | prepend: '0000' | slice: -4, 4 }}">
               <a href="/{{ site.tag_page_dir }}/{{ tag[0] | slugify: 'pretty' }}.html"><i class="fas fa-hashtag fa-fw"></i> {{ tag[0] }}</a> <span class="badge badge-primary ml-1">{{ tag[1].size }}</span>
            </li>
          {% endfor %}
        {% endcapture %}
        {% assign tags_limited = tags | split:'</li>' | sort %}
        {% capture tags_display %}
          {% for tag in tags_limited limit:11 %}
          {{ tag }}</li>
          {% endfor %}
        {% endcapture %}
        {{ tags_display }}
        </ul>
        <!--<ul class="list-group list-group-flush">
          {% for tag in site.tags limit:10 %}
          <li class="list-group-item"><a href="/tag/{{ tag[0] }}"><i class="fas fa-hashtag fa-fw"></i> Dapibus ac facilisis in</a></li>
          {% endfor %}
        </ul>-->
      </div>
    </div>
  </div>
</div>
